.wrapper {
  position: relative;
  padding: 0px 100px;
  display: flex;
}

.content {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content h1 {
  font-family: 'Inter', monospace;
  font-weight: bold;
  font-size: 70px;
  margin: 0;
  max-width: 500px;
}
@media (max-width: 1024px) {
  .content h1 {
    font-size: 60px;
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .content h1 {
    font-size: 40px;
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .content h1 {
    padding-top: 250px;
  }
}
.content p {
  font-weight: normal;
  line-height: 150%;
  max-width: 380px;
  font-size: 20px;
}
.content button {
  background: rgba(0, 0, 0, 0.2);
  border: 0px;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 14px;
  border: 1px solid rgba(255, 32, 73, 0.1);
  color: white;
  max-width: 280px;
  backdrop-filter: blur(20px);
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.content button:hover {
  border: 1px solid rgba(255, 32, 73, 0.8);
  transform: translateY(-3px);
  cursor: pointer;
}
.content h1,
.content p,
.content button {
  margin: 0 30px 0 100px;
}
@media (max-width: 1024px) {
  .content h1,
  .content p,
  .content button {
    margin: 0 30px;
  }
}
@media (max-width: 600px) {
  .content h1,
  .content p,
  .content button {
    margin: 0;
  }
}

.spline {
  display: absolute;
  transform: translateX(500px) translateY(-100px);
}
@media (max-width: 1424px) {
  .spline {
    transform: scale(0.9) translateX(500px) translateY(-100px);
  }
}
@media (max-width: 1224px) {
  .spline {
    transform: scale(0.8) translateX(420px) translateY(-100px);
  }
}
@media (max-width: 1100px) {
  .spline {
    transform: scale(0.7) translateX(0px) translateY(200px);
  }
  .content {
    margin-left: 100px;
  }
}
@media (max-width: 1100px) {
  .spline {
    transform: scale(0.7) translateX(0px) translateY(-300px);
  }
  .content {
    margin-left: 100px;
    transform: translateY(300px);
  }
}
@media (max-width: 1029px) {
  .spline {
    transform: scale(0.7) translateX(-100px) translateY(-300px);
  }
  .content {
    transform: translateY(270px);
  }
}
@media (max-width: 800px) {
  .spline {
    transform: scale(0.6) translateX(-150px) translateY(-300px);
  }

  .content {
    margin-left: 20px;
  }
}
@media (max-width: 794px) {
  .spline {
    transform: scale(0.6) translateX(-190px) translateY(-400px);
  }

  .content {
    margin-left: 70px;
    transform: translateY(230px);
  }
}
@media (max-width: 694px) {
  .spline {
    transform: scale(0.6) translateX(-300px) translateY(-400px);
  }

  .content {
    margin-left: 20px;
    transform: translateY(220px);
  }
}
@media (max-width: 600px) {
  .spline {
    transform: scale(0.5) translateX(-500px) translateY(-400px);
  }

  .content {
    margin-left: 20px;
  }
}
@media (max-width: 375px) {
  .spline {
    transform: scale(0.45) translateX(-90px);
  }
}
